
/**imported the two fonts but they didnt work**/
html, body {
    height: 100%;
    width: 100%;
  }
  section{
    display:flex;
    margin:100px;
  }
  div{
    font-family:'lexend deca';
    font-size:15px;
  }
  h3{
    font-family:'Big Shoulders Display';
    font-size:30px;
    letter-spacing:1px;
  }
  .container1{
    background:hsl(31, 77%, 52%);
     padding:80px;
  }
  .container2{
    background: hsl(184, 100%, 22%);
    padding:80px;
  }
  .container3{
    background:hsl(179, 100%, 13%);
    padding:80px;
  }
  h3{
      color:hsl(0, 0%, 95%)
  }
  p{
    color:hsla(0, 0%, 100%, 0.75)
  }
  button{
    color:hsl(0, 0%, 95%);
    background-color:transparent;
    padding:10px 15px;
    border: hsl(0, 0%, 95%)  solid;
    border-radius:20px;
    margin-top:35px;
     font-family:"poppins";
    border-width:2px;
  }
  @media  (max-width:375px){
    section{
    display:grid;
  }
  }